<mat-card>
  <mat-card-title>Deletar Categoria</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome" [(value)]="categoria.nome" name="nome" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ativo" [(value)]="categoria.ativo" name="ativo" disabled>
    </mat-form-field>

  </form>

  <button mat-raised-button (click)="deletar()" color="accent">
      Deletar
  </button>

  <button mat-raised-button (click)="cancelar()">
      Cancelar
  </button>
</mat-card>
