<div class="texto">
  <h1 class="titulo">A Aplicação</h1>

  <p class="texto">SPW Store é o resultado do projeto final como parte dos requisitos para obtenção do certificado de
    Especialização Lato Sensu do Centro Universitário Tiradentes do curso Software Programming For Working.
    Desenvolvemos um Bootcamp que teve início no mês de 04 de 2020 com a orientação do Prof. Tito Kenzo que lecionou
    desde lógica de programação ao front-end.
  </p>

</div>

<h1 class="titulo">Autores</h1>
<div class="centralizar">
  <mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-tile>
      <mat-card class="card mat-elevation-z8">
        <img class="carlos" mat-card-image src="https://cgmdesenvolvimento.com.br/imagens/perfil/carlos.png">
        <mat-card-content>
          Carlos Henrique Nascimento Pereira, formando em Engenharia da Computação 2018.2 pela Uninassau e Pós-graduando
          em Desenvolvimento de Software pela UNIT-PE, é Desenvolvedor Júnior na HMS SISTEMAS E SERVIÇOS.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="divisao">
      <mat-card class="card mat-elevation-z8">
        <img class="cicero" mat-card-image src="../../../assets/img/cicero.jpeg">
        <mat-card-content>
          Cícero Oliveira de Moraes Júnior, formado em Administração 2019.1 pela UNIT-PE e Pós-graduando em
          Desenvolvimento de Software pela mesma instituição é um profissional bastante versátil que passou por vários
          segmentos tais como: Hortifrúti, Produção de Shows, Eletromecânica Automotiva, Insumos para indústria
          alimentícia e Tecnologia da Informação.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
