<mat-card>
  <mat-card-title>Nova Marca</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="marca.nome" name="nome">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Descrição" [(ngModel)]="marca.descricao" name="descricao">
      </mat-form-field>
  </form>

  <button mat-raised-button (click)="criar()" color="primary">
      Salvar
  </button>

  <button mat-raised-button (click)="cancelar()">
      Cancelar
  </button>
</mat-card>
