form{
  display: flex;
  flex-direction: column;
}

button{
  margin-top: 10px;
  margin-right: 20px;
}
mat-card{
margin-bottom: 150px;
}

.divisao{
  margin-right: 5%;
  text-align: center;
}
strong{
  color: #757575;
}
img{
  width: 100px;
  height: 100px;
}
